.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.giphySearch {
  padding: 20px 0;
}
