.wrapper {
  padding: 120px 100px;
  position: relative;
}

.control {
  position: absolute;
  top: 60px;
  right: 40px;
}

.order {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.orderNumber {
  margin-bottom: 32px;
}

.orderNumberText {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  font-family: 'JetBrainsMono', Arial, sans-serif;
  margin-bottom: 60px;
  display: block;
}

.logoConfirm {
  margin-bottom: 60px;
  min-width: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  z-index: 10;
}

.startedCookingText {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'JetBrainsMono', Arial, sans-serif;
}

.waitToBeReadyText {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'JetBrainsMono', Arial, sans-serif;
  color: #8585ad;
}
