.ordersStats {
}

.ordersTitle {
  margin-bottom: 24px;
}

.orderStatus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 36px;
  margin-bottom: 60px;
}

.ordersInWork,
.ordersReady {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
}

.ordersReady .ordersReadyLink {
  color: #00cccc;
  justify-self: start;
}

.ordersInWork a {
  color: #f2f2f3;
  justify-self: start;
}

.ordersStatsToday,
.ordersTotalStats {
  display: flex;
  flex-direction: column;
}

.ordersTotalStats {
  margin-bottom: 60px;
}

.orderStatsTitle {
  font-size: 24px;
  line-height: 30px;
}

.orderStatsValue {
  font-size: 104px;
  line-height: 120px;
  text-shadow: 0px 4px 32px rgba(51, 51, 255, 0.5),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 0px 16px rgba(51, 51, 255, 0.25);
  color: var(--text-primary-light-standart-text, #f2f2f3);
}
