* {
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  list-style-type: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #333333;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

@font-face {
  font-family: 'ORION';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/ORION.TTF') format('TTF');
}

@font-face {
  font-family: 'ORIOND';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/ORIOND.TTF') format('TTF');
}

body {
  margin: 0;
  font-family: 'ORION', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
