.gif {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gifWrapper {
  position: relative;
}

.confirmButtonWrapper,
.addButtonWrapper,
.addedElementWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.confirmButtonWrapper button,
.addButtonWrapper button {
  color: #ffffff;
}

.confirmButtonWrapper,
.addButtonWrapper {
  color: #ffffff;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.confirmButtonWrapper:hover,
.addButtonWrapper:hover {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.hideAddButtonWrapper {
  display: none;
}

.addedElementWrapper {
  background: #000000;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.addedElementWrapper button {
  color: #35e017;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}
