.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapperLight {
  background-color: #e4e3dc;
  transition: color 0.3s ease-in-out;
  color: #333333;
}

.wrapperLight a {
  transition: all 0.3s ease-in-out;
  color: #333333;
}

.wrapperDark {
  background-color: #151515;
  transition: color 0.3s ease-in-out;
  color: #fcfcfb;
}

.wrapperDark a {
  transition: all 0.3s ease-in-out;
  color: #fcfcfb;
}

.app {
  margin: 0 auto;
  border: 1px solid black;
  max-width: 680px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .app {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .app {
    max-width: 1320px;
  }
}
