@font-face {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/JetBrainsMono-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'OpenSansCondensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff');
}

.App {
  font-family: 'OpenSansCondensed', Arial, sans-serif;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  height: 500px;
}

.main {
  display: flex;
}
