.ingredient {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  color: #f2f2f3;
}

.ingredient:nth-child(4n + 3),
.ingredient:nth-child(4n + 4) {
  margin-top: 32px;
}

.logoBox {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.priceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}

.price {
  margin-right: 8px;
  font-family: 'Iceland', Arial, sans-serif;
  font-size: 28px;
  line-height: 24px;
}

.title {
  word-break: break-word;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.counter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
