.header {
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.titleHub {
  display: inline;
  background: #ff9000;
  border: 1px solid #ab6305;
  border-radius: 10%;
  padding: 3px;
  margin-left: 3px;
}

.navList {
  display: flex;
  list-style-type: none;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
