.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 720px;
  height: 540px;
  background-color: #131316;
  z-index: 1;
  border-radius: 40px; */
}
