.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid #111;
  padding: 10px;
  border-radius: 15px;
  color: #111;
  font-size: 20px;
  line-height: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.inputPlaceholder {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  line-height: normal;
  display: inline-block;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  cursor: text;
}

input::placeholder {
  opacity: 0;
}

.input:focus ~ .inputPlaceholder {
  transform: translateX(-10px) translateY(-35px);
  transition: 0.5s ease-in-out;
  cursor: auto;
}

.inputPlaceholderActive {
  transform: translateX(-10px) translateY(-35px);
}
