.post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(174, 174, 174);
  border-radius: 3%;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 5px 0px rgba(34, 60, 80, 0.2);
  z-index: 10;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.post:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 8px 5px 10px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 8px 5px 10px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 8px 5px 10px 6px rgba(34, 60, 80, 0.2);
}

.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}

.gifLink,
.gif {
  height: 100%;
  width: 100%;
}

.prevGif,
.nextGif {
  position: absolute;
}

.prevGif {
  left: 5px;
}

.nextGif {
  right: 5px;
}

.prevGif:hover,
.nextGif:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
