.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 10px 10px;
  z-index: 30;
  position: relative;
  border-radius: 30px;
  background: #f0efe9;
  border: 2px solid #9f9f9e;
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 70%;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
