.header {
  background: #1c1c21;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  padding: 16px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  gap: 8px;
}

.tab:nth-child(1) {
  padding: 16px 20px 16px 0;
}
/* 
.tab a {
  color: #8585ad;
} */

.link {
  color: #8585ad;
}

.linkActive {
  color: #f2f2f3;
}
