.header {
  background: #1c1c21;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem,
.account {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menuItem:nth-child(1) {
  padding: 16px 20px 16px 0;
  margin-right: 8px;
}

.account {
  padding: 16px 0 16px 20px;
}
