.block {
  padding: 40px 40px 60px 40px;
  color: #fff;
  font-family: 'JetBrainsMono', Arial, sans-serif;
  text-align: left;
  border: 1px solid white;
  width: 720px;
  height: 540px;
  z-index: 10;
  background: #131316;
  border: 2px solid #25254d;
  border-radius: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}

.ingredientImg {
  margin-bottom: 16px;
}

.ingredientName {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.ingredientStructureList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.structureTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.structureValue {
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Iceland', Arial, sans-serif;
}
